body{
    background-image:url("https://images.unsplash.com/photo-1496450681664-3df85efbd29f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHdlYXRoZXJ8ZW58MHx8MHx8fDA%3D&w=1000&q=80")  ;
    background-repeat:no-repeat;
    background-size:cover;

color:white;
    

    display:flex;
    justify-content:center;
    align-items:center;
}

main{
    border:1px solid black;
    border-radius:30px;
    box-shadow:10px 10px 0px 7px rgba(1,200,367,0.4);
    padding:40px;
  
}


section {
border-top:2px solid white;
}